<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="profile">
          <div class="pic">
          <%= gravatar_for current_user %>
          <p><%= current_user.user_name %></p>
          </div>
          <div class="info">
              <p>First_name: <%= current_user.first_name %></p>
              <p>Last_name: <%= current_user.last_name %></p>
              <p>Email: <%= current_user.email%></p>
              <p>Gender: <%= current_user.gender%></p>
          </div>
        </div>
      </div>
      <div class="col-4">
      <div class="count text-center"> You currenty have <%=@my_posts.count%></div>
      <%@my_posts.each do |post|%>
      <div class="post">
      <p>
      <%= post.content%>
      </p>
      </div>
      <%end%>
      </div>
    </div>
</div>