<%= form_for [post, @comment] do |f| %>
<div class="col-12 d-flex">
<%= f.text_field :comment_content, placeholder:"write a comment",class:"col-9"%>
<%= f.hidden_field :post_id, value: post.id %>
<%= f.hidden_field :commenter_id, value: current_user.id %>
<%= f.submit "#{post.comments.count} comments",class:"btn btn-primar ml-1 rounded-pill"%>
</div>
<% end %>