<div class="container-fluid posts">
<div class="row">
<div class="col-3 ">
<%= render  "shared/new_post" %>
</div>
<div class="col-5 post-list">
<div class="count text-center"> Recent posts <%=@posts.count%></div>
<%@posts.each do |post|%>
<div class="post specific">
<p class="creator text-left"> Posted by @ <%=post.creator.user_name%></p>
<p><%=post.content%></p>
<h4>Comments</h4>
<p>
<%= render partial: 'shared/post_comments', collection: post.comments.recent_comments, as: :comment%>
</p>
<%= render partial: 'shared/comment', locals: {post: post}%>
</div>
<%end%>
</div>
</div>
</div>