<!DOCTYPE html>
<html>
  <head>
    <title>Rails-Tic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'fav.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/cce6e1325c.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <%= render  "shared/nav_bar" %>
  <%= render "shared/flash" %>
    <%= yield %>
  </body>
</html>
